.yarn-select {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}
.yarn-selected {
  background: #2196f3;
  padding: 6px;
  border-radius: 3px;
  color: white;
}
.yarn-unselected {
  background: white;
  padding: 6px;
  border-radius: 3px;

  border: 1px solid #2196f3;
}
.yarn-select-radio {
  display: flex;
  align-items: center;
}
.yarn-select-header {
  flex: 0.4;
}
.row {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
  flex: 1 1 120px;
}
button {
  margin: 3px;
}
.items-color {
  flex: 0.6;
}
table {
  width: 100%;
  padding-left: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}
table tbody {
  color: #673ab7;
  font-weight: 700;
}
input[type="radio"] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  margin-right: 10px;
}

.btn {
  border: none;
  padding: 5px 16px;
  background: white;
  color: black;
  border-radius: 9px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.send-order-btn {
  border: 2px solid green;
}
.reset-order-btn {
  border: 2px solid #2196f3;
}

.footer-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-text {
  padding-left: 5px;
}
footer {
  position: fixed;
  bottom: 0;
}
p {
  margin: 0;
  padding: 0;
}
.please-msg {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  animation: blink 1s linear infinite;
}
.Footer__Container {
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #e8e8e8;
  width: 100vw;
  height: 40px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #f44336;
  text-transform: uppercase;
}
.Footer_Btn {
  flex-basis: 50%;
  text-align: center;
  font-family: unset;
  font-weight: 600;
  user-select: none;
}
.Footer_Btn_Left {
  border-right: 1px solid #f44336;
  color: #f44336 !important;
  text-decoration: none;
}
.footer-icon-1 {
  margin-right: 10px;
}
.footer-icon-1 g {
  fill: #f44336;
}
.footer-icon-2 {
  margin-right: 10px;
}
.Footer_None {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  table {
    font-size: 12px;
  }
}